<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Агентствам</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div style="background: var(--ffffff);" class="block-section1 block2">
                <div class="container">
                    <h2 class="title2">
                        Преимущества партнерства
                    </h2>
                    <div class="block-section1__body">
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp2.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/comis.svg" alt="" class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    Высокая базовая комиссия
                                </div>
                                <p>
                                    Старт от 12% для новых партнеров с возможностью прогрессивного роста по итогам
                                    сезона
                                </p>
                            </div>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp2.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/shield.svg" alt="" class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    Защита клиента
                                </div>
                                <p>
                                    Туристы навсегда закрепляются за вашим агентством. Мы не переманиваем клиентов при
                                    прямых обращениях в будущем
                                </p>
                            </div>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp2.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/list.svg" alt="" class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    Белые КП
                                </div>
                                <p>
                                    Предоставляем программы туров без наших логотипов и контактов — готовы для отправки
                                    вашим туристам в один клик
                                </p>
                            </div>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp2.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/quots.svg" alt="" class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    Гарантированные квоты
                                </div>
                                <p>
                                    Блоки мест в проверенных гостиницах и собственный пул аккредитованных гидов даже в
                                    высокий сезон
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-documents block1">
                <div class="container">
                    <h2 class="title2">
                        База знаний и документы
                    </h2>
                    <div class="block-documents__body">
                        <div class="block-documents__column">
                            <div class="block-documents__items">
                                <div class="block-documents__title">
                                    Документооборот
                                </div>
                                <div class="line"></div>
                            </div>
                            <div class="block-documents__items">
                                <div class="block-documents__item">
                                    <div class="block-documents__titles">
                                        <div class="block-documents__name">
                                            Агентский договор
                                        </div>
                                        <p>
                                            (Редакция 2026 г)
                                        </p>
                                    </div>
                                    <a href="#" download="#" class="btn btn-small btn-white">
                                        <span>Скачать .docs</span>
                                    </a>
                                </div>
                                <div class="line"></div>
                            </div>
                            <div class="block-documents__items">
                                <div class="block-documents__item">
                                    <div class="block-documents__titles">
                                        <div class="block-documents__name">
                                            Отчет агента
                                        </div>
                                        <p>
                                            (Шаблон)
                                        </p>
                                    </div>
                                    <a href="#" download="#" class="btn btn-small btn-white">
                                        <span>Скачать .XLSX</span>
                                    </a>
                                </div>
                                <div class="line"></div>
                            </div>
                            <div class="block-documents__items">
                                <div class="block-documents__item">
                                    <div class="block-documents__titles">
                                        <div class="block-documents__name">
                                            Финансовые гарантии и реестровый номер
                                        </div>
                                    </div>
                                    <a href="./" target="_blank" class="btn btn-small btn-white">
                                        <span>Открыть</span>
                                        <div class="btn__icon">
                                            <svg aria-hidden="true" width="6" height="8">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="line"></div>
                            </div>
                            <div class="block-documents__items">
                                <div class="block-documents__item">
                                    <div class="block-documents__titles">
                                        <div class="block-documents__name">
                                            Памятка по возвратам и аннуляциям
                                        </div>
                                    </div>
                                    <a href="./" target="_blank" class="btn btn-small btn-white">
                                        <span>Читать</span>
                                        <div class="btn__icon">
                                            <svg aria-hidden="true" width="6" height="8">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block-documents__column">
                            <div class="block-documents__items">
                                <div class="block-documents__title">
                                    Рекламные материалы <span>(Без брендинга)</span>
                                </div>
                                <div class="line"></div>
                            </div>
                            <div class="block-documents__items">
                                <div class="block-documents__item">
                                    <div class="block-documents__titles">
                                        <div class="block-documents__name">
                                            Каталог сборных туров
                                        </div>
                                        <p>
                                            (Осень-Зима)
                                        </p>
                                    </div>
                                    <a href="#" download="#" class="btn btn-small btn-white">
                                        <span>Скачать PDF без контактов</span>
                                    </a>
                                </div>
                                <div class="line"></div>
                            </div>
                            <div class="block-documents__items">
                                <div class="block-documents__item">
                                    <div class="block-documents__titles">
                                        <div class="block-documents__name">
                                            Каталог школьных туров
                                        </div>
                                    </div>
                                    <a href="#" download="#" class="btn btn-small btn-white">
                                        <span>Скачать PDF без контактов</span>
                                    </a>
                                </div>
                                <div class="line"></div>
                            </div>
                            <div class="block-documents__items">
                                <div class="block-documents__item">
                                    <div class="block-documents__titles">
                                        <div class="block-documents__name">
                                            Фотобанк Санкт-Петербурга для ваших соцсетей
                                        </div>
                                    </div>
                                    <a href="./" target="_blank" class="btn btn-small btn-white">
                                        <span>Яндекс.Диск</span>
                                        <div class="btn__icon">
                                            <svg aria-hidden="true" width="6" height="8">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-section2 block1">
                <div class="container">
                    <h2 class="title2">
                        Как начать продавать наши туры
                    </h2>
                    <div class="block-section2__body">
                        <div class="block-section2__column">
                            <div class="block-section2__number">
                                01
                            </div>
                            <div class="block-section2__items">
                                <svg class="block-section2__mask1" viewBox="0 0 433 245" preserveAspectRatio="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10 0.5H410C415.247 0.500006 419.5 4.7533 419.5 10V100.242C419.5 102.626 420.311 104.94 421.801 106.802L429.612 116.565C432.388 120.035 432.388 124.965 429.612 128.435L421.801 138.198C420.311 140.06 419.5 142.374 419.5 144.758V235C419.5 240.247 415.247 244.5 410 244.5H10C4.7533 244.5 0.5 240.247 0.5 235V10C0.5 4.7533 4.75329 0.5 10 0.5Z"
                                        fill="#ffffff" stroke="url(#paint0_linear_66_1115)" stroke-opacity="0.1" />
                                    <defs>
                                        <linearGradient id="paint0_linear_66_1115" x1="0" y1="122.5" x2="435" y2="122.5"
                                            gradientUnits="userSpaceOnUse">
                                            <stop offset="1" stop-color="#033F61" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                                <div class="block-section2__item">
                                    <div class="block-section2__icon">
                                        <img loading="lazy" src="img/icons/hand2.svg" alt="">
                                    </div>
                                    <div class="block-section2__titles">
                                        <div class="block-section2__title">
                                            Подписание договора
                                        </div>
                                        <p>
                                            Скачайте договор, заполните реквизиты и отправьте скан на почту [email].
                                            Оригинал — почтой или по ЭДО
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-section2__column">
                            <div class="block-section2__number">
                                02
                            </div>
                            <div class="block-section2__items">
                                <svg class="block-section2__mask1" viewBox="0 0 428 245" preserveAspectRatio="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10 0.5H405C410.247 0.5 414.5 4.75329 414.5 10V100.242C414.5 102.626 415.311 104.94 416.801 106.802L424.612 116.565C427.388 120.035 427.388 124.965 424.612 128.435L416.801 138.198C415.311 140.06 414.5 142.374 414.5 144.758V235C414.5 240.247 410.247 244.5 405 244.5H10C4.7533 244.5 0.5 240.247 0.5 235V146.924C0.500009 144.962 1.10787 143.048 2.23926 141.445L11.3379 128.555C13.9 124.925 13.9 120.075 11.3379 116.445L2.23926 103.555C1.10787 101.952 0.500009 100.038 0.5 98.0762V10C0.5 4.7533 4.75329 0.5 10 0.5Z"
                                        fill="#ffffff" stroke="url(#paint0_linear_66_1115)" stroke-opacity="0.1" />
                                    <defs>
                                        <linearGradient id="paint0_linear_66_1123" x1="0" y1="122.5" x2="430" y2="122.5"
                                            gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#033F61" />
                                            <stop offset="1" stop-color="#006A8E" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                                <div class="block-section2__item">
                                    <div class="block-section2__icon">
                                        <img loading="lazy" src="img/icons/list3.svg" alt="">
                                    </div>
                                    <div class="block-section2__titles">
                                        <div class="block-section2__title">
                                            Выбор тура
                                        </div>
                                        <p>
                                            Используйте каталог на сайте или скачайте готовые PDF-программы для
                                            презентации клиенту
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-section2__column column-white">
                            <div class="block-section2__number">
                                03
                            </div>
                            <div class="block-section2__items">
                                <svg class="block-section2__mask1" viewBox="0 0 420 245" preserveAspectRatio="none"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0 10C0 4.47715 4.47715 0 10 0H410C415.523 0 420 4.47715 420 10V235C420 240.523 415.523 245 410 245H10C4.47716 245 0 240.523 0 235L0 146.924C0 144.859 0.63938 142.844 1.83032 141.157L10.9293 128.267C13.3697 124.81 13.3697 120.19 10.9293 116.733L1.83032 103.843C0.639381 102.156 0 100.141 0 98.0761L0 10Z"
                                        fill="url(#paint0_linear_66_1135)" />
                                    <path
                                        d="M0 10C0 4.47715 4.47715 0 10 0H410C415.523 0 420 4.47715 420 10V235C420 240.523 415.523 245 410 245H10C4.47716 245 0 240.523 0 235L0 146.924C0 144.859 0.63938 142.844 1.83032 141.157L10.9293 128.267C13.3697 124.81 13.3697 120.19 10.9293 116.733L1.83032 103.843C0.639381 102.156 0 100.141 0 98.0761L0 10Z"
                                        stroke="url(#paint0_linear_66_1135)" stroke-width="1" />
                                    <defs>
                                        <linearGradient id="paint0_linear_66_1135" x1="0" y1="122.5" x2="420" y2="122.5"
                                            gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#033F61" />
                                            <stop offset="1" stop-color="#006A8E" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                                <div class="block-section2__item">
                                    <div class="block-section2__icon">
                                        <img loading="lazy" src="img/icons/list4.svg" alt="">
                                    </div>
                                    <div class="block-section2__titles">
                                        <div class="block-section2__title">
                                            Бронирование
                                        </div>
                                        <p>
                                            Забронируйте тур через форму на сайте или по email. Получите подтверждение и
                                            счет за вычетом вашей комиссии
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>