<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Экскурсии</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-section1 block2">
                <div class="container">
                    <h2 class="title2">
                        Стандарты качества «Музыки путешествий»
                    </h2>
                    <div class="block-section1__body">
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/hand.svg" alt="" class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    Аккредитованные гиды
                                </div>
                                <p>
                                    Никаких случайных экскурсоводов. Только профессионалы с государственной лицензией и
                                    глубоким знанием истории
                                </p>
                            </div>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/bus.svg" alt="" class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    Комфортный транспорт
                                </div>
                                <p>
                                    Современный парк туристических автобусов класса Euro-4 и выше с климат-контролем и
                                    панорамными окнами
                                </p>
                            </div>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/ashier-ticket.svg" alt=""
                                    class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    Проход без очередей
                                </div>
                                <p>
                                    Электронные билеты в музеи и парки (Эрмитаж, Царское Село) уже включены в программу
                                    — не нужно стоять в кассах
                                </p>
                            </div>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/radio-tower.svg" alt="" class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    Радиогиды в комплекте
                                </div>
                                <p>
                                    В пешеходных зонах выдаем персональное радиооборудование, чтобы вы прекрасно слышали
                                    гида даже на расстоянии
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>