<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro">
                <img src="img/image1.webp" alt="" class="block-intro__bg1">
                <div class="container">
                    <div class="block-intro__content">
                        <div class="block-intro__body">
                            <div class="block-intro__titles">
                                <h1 class="title1">
                                    Впечатления, которые останутся с Вами
                                </h1>
                                <p>
                                    Школьные туры, авторские экскурсии, прием туристических групп, организация
                                    форумов и
                                    фестивалей в Санкт-Петербурге
                                </p>
                            </div>
                        </div>
                        <img src="img/shtamp3.webp" alt="" class="block-intro__pic1">
                    </div>
                    <div class="block-intro-form">
                        <div class="block-intro-form__title">
                            Быстрый расчет стоимости тура
                        </div>
                        <div class="line"></div>
                        <form data-dev action="#" class="form-price">
                            <div class="form-price__inputs">
                                <div class="form-price__input">
                                    <div class="form-price__label">Кто едет?</div>
                                    <div class="form-price__chekboxes">
                                        <label class="checkbox">
                                            <input checked class="checkbox__input" type="checkbox" value="1"
                                                name="checkbox1">
                                            <span class="checkbox__label">
                                                <span class="checkbox__icon">
                                                    <svg aria-hidden="true" width="13" height="12">
                                                        <use xlink:href="img/sprite.svg#check1"></use>
                                                    </svg>
                                                </span>
                                                <span class="checkbox__text">Школьники</span>
                                            </span>
                                        </label>
                                        <label class="checkbox">
                                            <input class="checkbox__input" type="checkbox" value="2" name="checkbox1">
                                            <span class="checkbox__label">
                                                <span class="checkbox__icon">
                                                    <svg aria-hidden="true" width="13" height="12">
                                                        <use xlink:href="img/sprite.svg#check1"></use>
                                                    </svg>
                                                </span>
                                                <span class="checkbox__text">Взрослые</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-price__input">
                                    <div class="form-price__label">Дата поездки:</div>
                                    <div class="calendar"></div>
                                </div>
                                <div class="form-price__input">
                                    <div class="form-price__label">Кол-во человек:</div>
                                    <div data-quantity class="quantity">
                                        <button data-quantity-minus type="button"
                                            class="quantity__button quantity__button_minus">
                                            <span></span>
                                        </button>
                                        <div class="quantity__input">
                                            <input data-quantity-value autocomplete="off" type="text" name="form[]"
                                                value="1">
                                        </div>
                                        <button data-quantity-plus type="button"
                                            class="quantity__button quantity__button_plus">
                                            <span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-price__bottom">
                                <button type="submit" class="btn">
                                    <img src="img/icons/calculator.svg" alt="">
                                    <span>Рассчитать стоимость тура</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="block-catalog">
                <div class="container">
                    <div class="block-catalog__cards">
                        <div class="card-catalog">
                            <div class="card-catalog__image">
                                <div class="card-catalog__badge">
                                    Школьным группам
                                </div>
                                <img loading="lazy" src="img/catalog/image1.webp" alt="" class="card-catalog__pic1">
                            </div>
                            <div class="card-catalog__item">
                                <div class="card-catalog__titles">
                                    <div class="card-catalog__title">
                                        Туры на каникулы, профориентация и проект «Уроки дает Петербург»
                                    </div>
                                </div>
                                <a href="./" class="links">
                                    <div class="line"></div>
                                    <div class="link">
                                        <span>Смотреть программы</span>
                                        <svg aria-hidden="true" width="6" height="8">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="card-catalog">
                            <div class="card-catalog__image">
                                <div class="card-catalog__badge">
                                    Сборные туры
                                </div>
                                <img loading="lazy" src="img/catalog/image2.webp" alt="" class="card-catalog__pic1">
                            </div>
                            <div class="card-catalog__item">
                                <div class="card-catalog__titles">
                                    <div class="card-catalog__title">
                                        Регулярные заезды от 2 до 7 дней для индивидуальных туристов
                                    </div>
                                </div>
                                <a href="./" class="links">
                                    <div class="line"></div>
                                    <div class="link">
                                        <span>Выбрать тур</span>
                                        <svg aria-hidden="true" width="6" height="8">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="card-catalog">
                            <div class="card-catalog__image">
                                <div class="card-catalog__badge">
                                    Корпоративным клиентам (MICE)
                                </div>
                                <img loading="lazy" src="img/catalog/image3.webp" alt="" class="card-catalog__pic1">
                            </div>
                            <div class="card-catalog__item">
                                <div class="card-catalog__titles">
                                    <div class="card-catalog__title">
                                        Организация конференций, тимбилдингов и деловых поездок под ключ
                                    </div>
                                </div>
                                <a href="./" class="links">
                                    <div class="line"></div>
                                    <div class="link">
                                        <span>Подробнее</span>
                                        <svg aria-hidden="true" width="6" height="8">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-best-offers block1">
                <div class="container">
                    <h2 class="title2">
                        Лучшие предложения сезона
                    </h2>
                    <div class="block-best-offers__cards">
                        <div class="card-product">
                            <div class="card-product__image">
                                <div class="badges">
                                    <div class="badges__badge badge-white">
                                        Хит
                                    </div>
                                </div>
                                <img loading="lazy" src="img/catalog/image4.webp" alt="" class="card-product__pic1">
                                <div class="card-product__price">
                                    от 51 600 ₽
                                </div>
                            </div>
                            <div class="card-product__item">
                                <div class="card-product__top">
                                    <div class="card-product__data">
                                        <div class="card-product__icon">
                                            <svg aria-hidden="true" width="11" height="12">
                                                <use xlink:href="img/sprite.svg#calendar"></use>
                                            </svg>
                                        </div>
                                        <span>7 дней / 6 ночей</span>
                                    </div>
                                    <div class="card-product__titles">
                                        <div class="card-product__title">
                                            Классический Петербург и Карелия
                                        </div>
                                        <p>
                                            СПб + Сортавала
                                        </p>
                                    </div>
                                </div>
                                <div class="card-product__buttons">
                                    <a href="./" class="btn btn-white btn-small">
                                        <span>Подробнее</span>
                                        <div class="btn__icon">
                                            <svg aria-hidden="true" width="6" height="8">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-product">
                            <div class="card-product__image">
                                <div class="badges">
                                    <div class="badges__badge">
                                        Осень 2026
                                    </div>
                                </div>
                                <img loading="lazy" src="img/catalog/image5.webp" alt="" class="card-product__pic1">
                                <div class="card-product__price">
                                    от 51 600 ₽
                                </div>
                            </div>
                            <div class="card-product__item">
                                <div class="card-product__top">
                                    <div class="card-product__data">
                                        <div class="card-product__icon">
                                            <svg aria-hidden="true" width="11" height="12">
                                                <use xlink:href="img/sprite.svg#calendar"></use>
                                            </svg>
                                        </div>
                                        <span>7 дней / 6 ночей</span>
                                    </div>
                                    <div class="card-product__titles">
                                        <div class="card-product__title">
                                            Лето в Санкт-Петербурге —
                                            день за днем. Золотая
                                            коллекция
                                        </div>
                                        <p>
                                            СПб + Сортавала
                                        </p>
                                    </div>
                                </div>
                                <div class="card-product__buttons">
                                    <a href="./" class="btn btn-white btn-small">
                                        <span>Подробнее</span>
                                        <div class="btn__icon">
                                            <svg aria-hidden="true" width="6" height="8">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-product">
                            <div class="card-product__image">
                                <div class="badges">
                                    <div class="badges__badge badge-white">
                                        Хит
                                    </div>
                                </div>
                                <img loading="lazy" src="img/catalog/image6.webp" alt="" class="card-product__pic1">
                                <div class="card-product__price">
                                    от 51 600 ₽
                                </div>
                            </div>
                            <div class="card-product__item">
                                <div class="card-product__top">
                                    <div class="card-product__data">
                                        <div class="card-product__icon">
                                            <svg aria-hidden="true" width="11" height="12">
                                                <use xlink:href="img/sprite.svg#calendar"></use>
                                            </svg>
                                        </div>
                                        <span>7 дней / 6 ночей</span>
                                    </div>
                                    <div class="card-product__titles">
                                        <div class="card-product__title">
                                            Экскурсия из Санкт-Петербурга в Выборг
                                        </div>
                                        <p>
                                            СПб + Сортавала
                                        </p>
                                    </div>
                                </div>
                                <div class="card-product__buttons">
                                    <a href="./" class="btn btn-white btn-small">
                                        <span>Подробнее</span>
                                        <div class="btn__icon">
                                            <svg aria-hidden="true" width="6" height="8">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-product">
                            <div class="card-product__image">
                                <div class="badges">
                                    <div class="badges__badge">
                                        Осень 2026
                                    </div>
                                </div>
                                <img loading="lazy" src="img/catalog/image7.webp" alt="" class="card-product__pic1">
                                <div class="card-product__price">
                                    от 51 600 ₽
                                </div>
                            </div>
                            <div class="card-product__item">
                                <div class="card-product__top">
                                    <div class="card-product__data">
                                        <div class="card-product__icon">
                                            <svg aria-hidden="true" width="11" height="12">
                                                <use xlink:href="img/sprite.svg#calendar"></use>
                                            </svg>
                                        </div>
                                        <span>7 дней / 6 ночей</span>
                                    </div>
                                    <div class="card-product__titles">
                                        <div class="card-product__title">
                                            Автобусная экскурсия в
                                            Гатчину
                                        </div>
                                        <p>
                                            СПб + Сортавала
                                        </p>
                                    </div>
                                </div>
                                <div class="card-product__buttons">
                                    <a href="./" class="btn btn-white btn-small">
                                        <span>Подробнее</span>
                                        <div class="btn__icon">
                                            <svg aria-hidden="true" width="6" height="8">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-product">
                            <div class="card-product__image">
                                <div class="badges">
                                    <div class="badges__badge">
                                        Осень 2026
                                    </div>
                                </div>
                                <img loading="lazy" src="img/catalog/image8.webp" alt="" class="card-product__pic1">
                                <div class="card-product__price">
                                    от 51 600 ₽
                                </div>
                            </div>
                            <div class="card-product__item">
                                <div class="card-product__top">
                                    <div class="card-product__data">
                                        <div class="card-product__icon">
                                            <svg aria-hidden="true" width="11" height="12">
                                                <use xlink:href="img/sprite.svg#calendar"></use>
                                            </svg>
                                        </div>
                                        <span>7 дней / 6 ночей</span>
                                    </div>
                                    <div class="card-product__titles">
                                        <div class="card-product__title">
                                            Автобусная экскурсия в
                                            Гатчину
                                        </div>
                                        <p>
                                            СПб + Сортавала
                                        </p>
                                    </div>
                                </div>
                                <div class="card-product__buttons">
                                    <a href="./" class="btn btn-white btn-small">
                                        <span>Подробнее</span>
                                        <div class="btn__icon">
                                            <svg aria-hidden="true" width="6" height="8">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-product">
                            <div class="card-product__image">
                                <div class="badges">
                                    <div class="badges__badge badge-white">
                                        Хит
                                    </div>
                                </div>
                                <img loading="lazy" src="img/catalog/image9.webp" alt="" class="card-product__pic1">
                                <div class="card-product__price">
                                    от 51 600 ₽
                                </div>
                            </div>
                            <div class="card-product__item">
                                <div class="card-product__top">
                                    <div class="card-product__data">
                                        <div class="card-product__icon">
                                            <svg aria-hidden="true" width="11" height="12">
                                                <use xlink:href="img/sprite.svg#calendar"></use>
                                            </svg>
                                        </div>
                                        <span>7 дней / 6 ночей</span>
                                    </div>
                                    <div class="card-product__titles">
                                        <div class="card-product__title">
                                            Классический Петербург и Карелия
                                        </div>
                                        <p>
                                            СПб + Сортавала
                                        </p>
                                    </div>
                                </div>
                                <div class="card-product__buttons">
                                    <a href="./" class="btn btn-white btn-small">
                                        <span>Подробнее</span>
                                        <div class="btn__icon">
                                            <svg aria-hidden="true" width="6" height="8">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-product">
                            <div class="card-product__image">
                                <div class="badges">
                                    <div class="badges__badge">
                                        Осень 2026
                                    </div>
                                </div>
                                <img loading="lazy" src="img/catalog/image10.webp" alt="" class="card-product__pic1">
                                <div class="card-product__price">
                                    от 51 600 ₽
                                </div>
                            </div>
                            <div class="card-product__item">
                                <div class="card-product__top">
                                    <div class="card-product__data">
                                        <div class="card-product__icon">
                                            <svg aria-hidden="true" width="11" height="12">
                                                <use xlink:href="img/sprite.svg#calendar"></use>
                                            </svg>
                                        </div>
                                        <span>7 дней / 6 ночей</span>
                                    </div>
                                    <div class="card-product__titles">
                                        <div class="card-product__title">
                                            Лето в Санкт-Петербурге —
                                            день за днем. Золотая
                                            коллекция
                                        </div>
                                        <p>
                                            СПб + Сортавала
                                        </p>
                                    </div>
                                </div>
                                <div class="card-product__buttons">
                                    <a href="./" class="btn btn-white btn-small">
                                        <span>Подробнее</span>
                                        <div class="btn__icon">
                                            <svg aria-hidden="true" width="6" height="8">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-product">
                            <div class="card-product__image">
                                <div class="badges">
                                    <div class="badges__badge badge-white">
                                        Хит
                                    </div>
                                </div>
                                <img loading="lazy" src="img/catalog/image11.webp" alt="" class="card-product__pic1">
                                <div class="card-product__price">
                                    от 51 600 ₽
                                </div>
                            </div>
                            <div class="card-product__item">
                                <div class="card-product__top">
                                    <div class="card-product__data">
                                        <div class="card-product__icon">
                                            <svg aria-hidden="true" width="11" height="12">
                                                <use xlink:href="img/sprite.svg#calendar"></use>
                                            </svg>
                                        </div>
                                        <span>7 дней / 6 ночей</span>
                                    </div>
                                    <div class="card-product__titles">
                                        <div class="card-product__title">
                                            Экскурсия из Санкт-Петербурга в Выборг
                                        </div>
                                        <p>
                                            СПб + Сортавала
                                        </p>
                                    </div>
                                </div>
                                <div class="card-product__buttons">
                                    <a href="./" class="btn btn-white btn-small">
                                        <span>Подробнее</span>
                                        <div class="btn__icon">
                                            <svg aria-hidden="true" width="6" height="8">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-section1 block2">
                <div class="container">
                    <h2 class="title2">
                        Почему нам доверяют организацию отдыха
                    </h2>
                    <div class="block-section1__body">
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/icon1.svg" alt="" class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    Официальный туроператор
                                </div>
                                <p>
                                    Состоим в Едином федеральном реестре. Полная юридическая прозрачность
                                </p>
                            </div>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/hand.svg" alt="" class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    Собственная база гидов
                                </div>
                                <p>
                                    Только аккредитованные экскурсоводы с опытом работы от 5 лет
                                </p>
                            </div>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/list2.svg" alt="" class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    Фиксация стоимости
                                </div>
                                <p>
                                    Цена, закрепленная в договоре, не меняется в процессе поездки
                                </p>
                            </div>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/hand2.svg" alt="" class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    B2B-поддержка
                                </div>
                                <p>
                                    Прозрачные условия и выделенный менеджер для турагентств и организаторов
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-news block1">
                <div class="container">
                    <h2 class="title2">
                        Наши новости
                    </h2>
                    <div class="block-news__body">
                        <div class="block-news__cards">
                            <div class="card-news">
                                <div class="card-news__image">
                                    <div class="card-news__data">
                                        <div class="card-news__icon">
                                            <svg aria-hidden="true" width="15" height="16">
                                                <use xlink:href="img/sprite.svg#calendar"></use>
                                            </svg>
                                        </div>
                                        <span>11.06.2026</span>
                                    </div>
                                    <img loading="lazy" src="img/news/image1.webp" alt="" class="card-news__pic1">
                                </div>
                                <div class="card-news__item">
                                    <div class="card-news__titles">
                                        <div class="card-news__title">
                                            День России
                                        </div>
                                        <p>
                                            12 июня мы отмечаем праздник, который объединяет всех, кому дорога наша
                                            Родина. День России! Это день гордости за её славное прошлое и уверенности в
                                            её светлом завтра Это день гордости за её славное прошлое и уверенности в
                                            её светлом завтра
                                        </p>
                                    </div>
                                    <a href="./" class="links">
                                        <div class="line"></div>
                                        <div class="link">
                                            <span>Читать полностью</span>
                                            <svg aria-hidden="true" width="6" height="8">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-news">
                                <div class="card-news__image">
                                    <div class="card-news__data">
                                        <div class="card-news__icon">
                                            <svg aria-hidden="true" width="15" height="16">
                                                <use xlink:href="img/sprite.svg#calendar"></use>
                                            </svg>
                                        </div>
                                        <span>09.06.2026</span>
                                    </div>
                                    <img loading="lazy" src="img/news/image2.webp" alt="" class="card-news__pic1">
                                </div>
                                <div class="card-news__item">
                                    <div class="card-news__titles">
                                        <div class="card-news__title">
                                            Алые паруса 2026
                                        </div>
                                        <p>
                                            Санкт-Петербург готовится к незабываемому празднику выпускников. Город белых
                                            ночей и романтических историй, готовится встретить своих выпускников
                                            грандиозным ...
                                        </p>
                                    </div>
                                    <a href="./" class="links">
                                        <div class="line"></div>
                                        <div class="link">
                                            <span>Читать полностью</span>
                                            <svg aria-hidden="true" width="6" height="8">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-news">
                                <div class="card-news__image">
                                    <div class="card-news__data">
                                        <div class="card-news__icon">
                                            <svg aria-hidden="true" width="15" height="16">
                                                <use xlink:href="img/sprite.svg#calendar"></use>
                                            </svg>
                                        </div>
                                        <span>11.09.2025</span>
                                    </div>
                                    <img loading="lazy" src="img/news/image3.webp" alt="" class="card-news__pic1">
                                </div>
                                <div class="card-news__item">
                                    <div class="card-news__titles">
                                        <div class="card-news__title">
                                            Осенний праздник фонтанов в Петергофе
                                        </div>
                                        <p>
                                            Вход до 20:20 Осенний фестиваль фонтанов «Петергоф. Возрождение» в год
                                            празднования 80-летия Победы в Великой Отечественной войне посвящен
                                            воссозданию ...
                                        </p>
                                    </div>
                                    <a href="./" class="links">
                                        <div class="line"></div>
                                        <div class="link">
                                            <span>Читать полностью</span>
                                            <svg aria-hidden="true" width="6" height="8">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="./" class="btn">
                            <span>Читать все новости</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="block-teams block2">
                <div class="container">
                    <div data-tabs class="tabs-teams">
                        <nav data-tabs-titles class="tabs-teams__navigation">
                            <button type="button" class="tabs-teams__title _tab-active">Наша команда</button>
                            <button type="button" class="tabs-teams__title">Экскурсоводы</button>
                        </nav>
                        <div data-tabs-body class="tabs-teams__content">
                            <div class="tabs-teams__body">
                                <div class="tabs-teams__cards">
                                    <div class="card-teams">
                                        <div class="card-teams__image">
                                            <img loading="lazy" src="img/teams/image1.webp" alt="">
                                        </div>
                                        <div class="card-teams__item">
                                            <div class="card-teams__titles">
                                                <div class="card-teams__title">
                                                    Алена Сергеева
                                                </div>
                                                <p>
                                                    Генеральный директор
                                                </p>
                                            </div>
                                            <a href="mailto:alena@mp-sp.ru" class="card-teams__mail">
                                                <div class="card-teams__icon">
                                                    <svg aria-hidden="true" width="12" height="12">
                                                        <use xlink:href="img/sprite.svg#mail1"></use>
                                                    </svg>
                                                </div>
                                                <span>alena@mp-sp.ru</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-teams">
                                        <div class="card-teams__image">
                                            <img loading="lazy" src="img/teams/image2.webp" alt="">
                                        </div>
                                        <div class="card-teams__item">
                                            <div class="card-teams__titles">
                                                <div class="card-teams__title">
                                                    Ирина Ищенко
                                                </div>
                                                <p>
                                                    Менеджер отдела приема (Сборные туры в Санкт-Петербург)
                                                </p>
                                            </div>
                                            <a href="mailto:irina@mp-sp.ru" class="card-teams__mail">
                                                <div class="card-teams__icon">
                                                    <svg aria-hidden="true" width="12" height="12">
                                                        <use xlink:href="img/sprite.svg#mail1"></use>
                                                    </svg>
                                                </div>
                                                <span>irina@mp-sp.ru</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-teams">
                                        <div class="card-teams__image">
                                            <img loading="lazy" src="img/teams/image3.webp" alt="">
                                        </div>
                                        <div class="card-teams__item">
                                            <div class="card-teams__titles">
                                                <div class="card-teams__title">
                                                    Марина Кукушкина
                                                </div>
                                                <p>
                                                    Менеджер отдела приема (Групповые и школьные туры в Санкт-Петербург)
                                                </p>
                                            </div>
                                            <a href="mailto:mp@mp-sp.ru" class="card-teams__mail">
                                                <div class="card-teams__icon">
                                                    <svg aria-hidden="true" width="12" height="12">
                                                        <use xlink:href="img/sprite.svg#mail1"></use>
                                                    </svg>
                                                </div>
                                                <span>mp@mp-sp.ru</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-teams">
                                        <div class="card-teams__image">
                                            <img loading="lazy" src="img/teams/image4.webp" alt="">
                                        </div>
                                        <div class="card-teams__item">
                                            <div class="card-teams__titles">
                                                <div class="card-teams__title">
                                                    Марина Чекан
                                                </div>
                                                <p>
                                                    Менеджер отдела приема
                                                    (Координатор школьных программ)
                                                </p>
                                            </div>
                                            <a href="mailto:spb@mp-sp.ru" class="card-teams__mail">
                                                <div class="card-teams__icon">
                                                    <svg aria-hidden="true" width="12" height="12">
                                                        <use xlink:href="img/sprite.svg#mail1"></use>
                                                    </svg>
                                                </div>
                                                <span>spb@mp-sp.ru</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-teams__body">
                                <div class="tabs-teams__cards">
                                    <div class="card-teams">
                                        <div class="card-teams__image">
                                            <img loading="lazy" src="img/teams/image2.webp" alt="">
                                        </div>
                                        <div class="card-teams__item">
                                            <div class="card-teams__titles">
                                                <div class="card-teams__title">
                                                    Ирина Ищенко
                                                </div>
                                                <p>
                                                    Менеджер отдела приема (Сборные туры в Санкт-Петербург)
                                                </p>
                                            </div>
                                            <a href="mailto:irina@mp-sp.ru" class="card-teams__mail">
                                                <div class="card-teams__icon">
                                                    <svg aria-hidden="true" width="12" height="12">
                                                        <use xlink:href="img/sprite.svg#mail1"></use>
                                                    </svg>
                                                </div>
                                                <span>irina@mp-sp.ru</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-teams">
                                        <div class="card-teams__image">
                                            <img loading="lazy" src="img/teams/image1.webp" alt="">
                                        </div>
                                        <div class="card-teams__item">
                                            <div class="card-teams__titles">
                                                <div class="card-teams__title">
                                                    Алена Сергеева
                                                </div>
                                                <p>
                                                    Генеральный директор
                                                </p>
                                            </div>
                                            <a href="mailto:alena@mp-sp.ru" class="card-teams__mail">
                                                <div class="card-teams__icon">
                                                    <svg aria-hidden="true" width="12" height="12">
                                                        <use xlink:href="img/sprite.svg#mail1"></use>
                                                    </svg>
                                                </div>
                                                <span>alena@mp-sp.ru</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-teams">
                                        <div class="card-teams__image">
                                            <img loading="lazy" src="img/teams/image3.webp" alt="">
                                        </div>
                                        <div class="card-teams__item">
                                            <div class="card-teams__titles">
                                                <div class="card-teams__title">
                                                    Марина Кукушкина
                                                </div>
                                                <p>
                                                    Менеджер отдела приема (Групповые и школьные туры в Санкт-Петербург)
                                                </p>
                                            </div>
                                            <a href="mailto:mp@mp-sp.ru" class="card-teams__mail">
                                                <div class="card-teams__icon">
                                                    <svg aria-hidden="true" width="12" height="12">
                                                        <use xlink:href="img/sprite.svg#mail1"></use>
                                                    </svg>
                                                </div>
                                                <span>mp@mp-sp.ru</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-teams">
                                        <div class="card-teams__image">
                                            <img loading="lazy" src="img/teams/image4.webp" alt="">
                                        </div>
                                        <div class="card-teams__item">
                                            <div class="card-teams__titles">
                                                <div class="card-teams__title">
                                                    Марина Чекан
                                                </div>
                                                <p>
                                                    Менеджер отдела приема
                                                    (Координатор школьных программ)
                                                </p>
                                            </div>
                                            <a href="mailto:spb@mp-sp.ru" class="card-teams__mail">
                                                <div class="card-teams__icon">
                                                    <svg aria-hidden="true" width="12" height="12">
                                                        <use xlink:href="img/sprite.svg#mail1"></use>
                                                    </svg>
                                                </div>
                                                <span>spb@mp-sp.ru</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-descr1">
                <div class="container">
                    <div class="block-descr1__content">
                        <div class="block-descr1__body">
                            <img loading="lazy" src="img/image4.webp" alt="" class="block-descr1__pic2">
                            <div class="block-descr1__heading">
                                <h2 class="title2">
                                    Уроки дает Петербург
                                </h2>
                                <div class="block-descr1__text">
                                    <p>
                                        Это экскурсионно-образовательный проект, созданный в сотрудничестве музеев,
                                        вузов,
                                        предприятий и ассоциации «Лига туроператоров Санкт-Петербурга»
                                    </p>
                                    <p>
                                        <span>
                                            Уникальный экскурсионно-образовательный проект. Внеурочные занятия в виде
                                            экскурсий,
                                            вовлекающие школьников в познавательный процесс. Грамотно выстроенные
                                            маршруты,
                                            согласованные с образовательной программой
                                        </span>
                                    </p>
                                </div>
                                <a href="./" class="btn">
                                    <span>Изучить программы по предметам</span>
                                </a>
                            </div>
                        </div>
                        <img loading="lazy" src="img/image5.webp" alt="" class="block-descr1__pic1">
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>