<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Школьникам</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div style="background: var(--ffffff);" class="block-section1 block2">
                <div class="container">
                    <h2 class="title2">
                        Стандарты детской безопасности
                    </h2>
                    <div class="block-section1__body">
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp2.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/gbdd.svg" alt="" class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    Согласование с ГИБДД
                                </div>
                                <p>
                                    Мы самостоятельно подаем уведомления о детской перевозке и оформляем все маршрутные
                                    листы
                                </p>
                            </div>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp2.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/bus.svg" alt="" class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    Лицензированный транспорт
                                </div>
                                <p>
                                    Автобусы не старше 10 лет, оборудованные ремнями безопасности, тахографами и
                                    проблесковыми маячками. Водители с допуском к детским перевозкам
                                </p>
                            </div>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp2.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/icon1.svg" alt="" class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    Официальные договоры
                                </div>
                                <p>
                                    Работаем по договору с физическими или юридическими лицами (школами). Выдаем все
                                    необходимые закрывающие документы
                                </p>
                            </div>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__icon">
                                <img loading="lazy" src="img/shtamp2.webp" alt="" class="block-section1__pic1">
                                <img loading="lazy" src="img/icons/icon2.svg" alt="" class="block-section1__pic2">
                            </div>
                            <div class="block-section1__item">
                                <div class="block-section1__title">
                                    Горячее питание
                                </div>
                                <p>
                                    Сотрудничаем только с сертифицированными кафе и ресторанами, имеющими допуск к
                                    детскому питанию (строгий контроль меню).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>