<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Туристам</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-section3 block1">
                <div class="container">
                    <h2 class="title2">
                        Подготовка к поездке
                    </h2>
                    <div class="block-section3__body">
                        <div class="block-section3__column">
                            <div class="block-section3__icon">
                                <img loading="lazy" src="img/icons/prav3.svg" alt="">
                            </div>
                            <div class="block-section3__item">
                                <div class="block-section3__titles">
                                    <div class="block-section3__title">
                                        Сборные туры
                                    </div>
                                    <p>
                                        Места встречи, телефоны экстренной связи, что взять с собой в многодневный тур
                                    </p>
                                </div>
                                <a href="#" download="#" class="btn btn-small btn-white">
                                    <span>Скачать памятку PDF</span>
                                </a>
                            </div>
                        </div>
                        <div class="block-section3__column">
                            <div class="block-section3__icon">
                                <img loading="lazy" src="img/icons/prav2.svg" alt="">
                            </div>
                            <div class="block-section3__item">
                                <div class="block-section3__titles">
                                    <div class="block-section3__title">
                                        Школьникам и родителям
                                    </div>
                                    <p>
                                        Правила поведения в автобусе, список необходимых документов для заселения в
                                        гостиницу
                                    </p>
                                </div>
                                <a href="#" download="#" class="btn btn-small btn-white">
                                    <span>Скачать памятку PDF</span>
                                </a>
                            </div>
                        </div>
                        <div class="block-section3__column">
                            <div class="block-section3__icon">
                                <img loading="lazy" src="img/icons/prav.svg" alt="">
                            </div>
                            <div class="block-section3__item">
                                <div class="block-section3__titles">
                                    <div class="block-section3__title">
                                        Водные экскурсии
                                    </div>
                                    <p>
                                        Правила посадки на теплоходы и Метеоры, температурный режим на воде
                                    </p>
                                </div>
                                <a href="#" download="#" class="btn btn-small btn-white">
                                    <span>Скачать памятку PDF</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="background: var(--f5f8f9);" class="block-section2 block1">
                <div class="container">
                    <h2 class="title2">
                        Как забронировать и оплатить тур
                    </h2>
                    <div class="block-section2__body section2-grid4">
                        <div class="block-section2__column">
                            <div class="block-section2__number">
                                01
                            </div>
                            <div class="block-section2__items">
                                <svg class="block-section2__mask1" viewBox="0 0 433 245" preserveAspectRatio="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10 0.5H410C415.247 0.500006 419.5 4.7533 419.5 10V100.242C419.5 102.626 420.311 104.94 421.801 106.802L429.612 116.565C432.388 120.035 432.388 124.965 429.612 128.435L421.801 138.198C420.311 140.06 419.5 142.374 419.5 144.758V235C419.5 240.247 415.247 244.5 410 244.5H10C4.7533 244.5 0.5 240.247 0.5 235V10C0.5 4.7533 4.75329 0.5 10 0.5Z"
                                        fill="#f5f8f9" stroke="url(#paint0_linear_66_1115)" stroke-opacity="0.1" />
                                    <defs>
                                        <linearGradient id="paint0_linear_66_1115" x1="0" y1="122.5" x2="435" y2="122.5"
                                            gradientUnits="userSpaceOnUse">
                                            <stop offset="1" stop-color="#033F61" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                                <div class="block-section2__item">
                                    <div class="block-section2__icon">
                                        <img loading="lazy" src="img/icons/list3.svg" alt="">
                                    </div>
                                    <div class="block-section2__titles">
                                        <div class="block-section2__title">
                                            Выбор программы
                                        </div>
                                        <p>
                                            Найдите подходящий тур в каталоге или воспользуйтесь кнопкой «Рассчитать
                                            стоимость» для индивидуального подбора
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-section2__column">
                            <div class="block-section2__number">
                                02
                            </div>
                            <div class="block-section2__items">
                                <svg class="block-section2__mask1" viewBox="0 0 428 245" preserveAspectRatio="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10 0.5H405C410.247 0.5 414.5 4.75329 414.5 10V100.242C414.5 102.626 415.311 104.94 416.801 106.802L424.612 116.565C427.388 120.035 427.388 124.965 424.612 128.435L416.801 138.198C415.311 140.06 414.5 142.374 414.5 144.758V235C414.5 240.247 410.247 244.5 405 244.5H10C4.7533 244.5 0.5 240.247 0.5 235V146.924C0.500009 144.962 1.10787 143.048 2.23926 141.445L11.3379 128.555C13.9 124.925 13.9 120.075 11.3379 116.445L2.23926 103.555C1.10787 101.952 0.500009 100.038 0.5 98.0762V10C0.5 4.7533 4.75329 0.5 10 0.5Z"
                                        fill="#f5f8f9" stroke="url(#paint0_linear_66_1115)" stroke-opacity="0.1" />
                                    <defs>
                                        <linearGradient id="paint0_linear_66_1123" x1="0" y1="122.5" x2="430" y2="122.5"
                                            gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#033F61" />
                                            <stop offset="1" stop-color="#006A8E" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                                <div class="block-section2__item">
                                    <div class="block-section2__icon">
                                        <img loading="lazy" src="img/icons/list2.svg" alt="">
                                    </div>
                                    <div class="block-section2__titles">
                                        <div class="block-section2__title">
                                            Бронирование
                                        </div>
                                        <p>
                                            Заполните короткую форму в карточке тура. Менеджер подтвердит наличие мест и
                                            сформирует заказ
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-section2__column">
                            <div class="block-section2__number">
                                03
                            </div>
                            <div class="block-section2__items">
                                <svg class="block-section2__mask1" viewBox="0 0 428 245" preserveAspectRatio="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10 0.5H405C410.247 0.5 414.5 4.75329 414.5 10V100.242C414.5 102.626 415.311 104.94 416.801 106.802L424.612 116.565C427.388 120.035 427.388 124.965 424.612 128.435L416.801 138.198C415.311 140.06 414.5 142.374 414.5 144.758V235C414.5 240.247 410.247 244.5 405 244.5H10C4.7533 244.5 0.5 240.247 0.5 235V146.924C0.500009 144.962 1.10787 143.048 2.23926 141.445L11.3379 128.555C13.9 124.925 13.9 120.075 11.3379 116.445L2.23926 103.555C1.10787 101.952 0.500009 100.038 0.5 98.0762V10C0.5 4.7533 4.75329 0.5 10 0.5Z"
                                        fill="#f5f8f9" stroke="url(#paint0_linear_66_1115)" stroke-opacity="0.1" />
                                    <defs>
                                        <linearGradient id="paint0_linear_66_1123" x1="0" y1="122.5" x2="430" y2="122.5"
                                            gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#033F61" />
                                            <stop offset="1" stop-color="#006A8E" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                                <div class="block-section2__item">
                                    <div class="block-section2__icon">
                                        <img loading="lazy" src="img/icons/online.svg" alt="">
                                    </div>
                                    <div class="block-section2__titles">
                                        <div class="block-section2__title">
                                            Оплата онлайн
                                        </div>
                                        <p>
                                            Получите защищенную ссылку на email или перейдите в раздел «Оплата» на
                                            сайте. Доступна оплата картами любых банков РФ
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-section2__column">
                            <div class="block-section2__number">
                                04
                            </div>
                            <div class="block-section2__items">
                                <svg class="block-section2__mask1" viewBox="0 0 310 280" preserveAspectRatio="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10 0.5H300C305.247 0.5 309.5 4.7533 309.5 10V270C309.5 275.247 305.247 279.5 300 279.5H10C4.7533 279.5 0.5 275.247 0.5 270V160.332C0.500046 158.132 1.26407 156 2.66113 154.3L10.167 145.167C13.3514 141.293 13.3514 135.707 10.167 131.833L2.66113 122.7C1.26407 121 0.500046 118.868 0.5 116.668V10C0.500001 4.7533 4.7533 0.5 10 0.5Z"
                                        stroke="url(#paint0_linear_66_1888)" fill="#f5f8f9" stroke-opacity="0.1" />
                                    <defs>
                                        <linearGradient id="paint0_linear_66_1888" x1="0" y1="140" x2="310" y2="140"
                                            gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#033F61" />
                                            <stop offset="1" stop-color="#006A8E" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                                <div class="block-section2__item">
                                    <div class="block-section2__icon">
                                        <img loading="lazy" src="img/icons/docs.svg" alt="">
                                    </div>
                                    <div class="block-section2__titles">
                                        <div class="block-section2__title">
                                            Получение документов
                                        </div>
                                        <p>
                                            Сразу после оплаты на Вашу почту придет электронный чек, потом мы вышлем
                                            ваучер и программу тура. Распечатать их можно по желанию
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-refund block1">
                <div class="container">
                    <h2 class="title2">
                        Условия отмены и возврата
                    </h2>
                    <div class="block-refund__body">
                        <div class="block-refund__column">
                            <div class="block-refund__item1">
                                <div class="block-refund__icon">
                                    <img loading="lazy" src="img/icons/arrow_ellipse.svg" alt="">
                                </div>
                                <div class="block-refund__text">
                                    <p>
                                        Мы понимаем, что планы могут измениться. Возврат средств осуществляется согласно
                                        законодательству РФ.
                                    </p>
                                    <p>
                                        При отмене тура более чем за 5 дней до начала, возвращается 100% стоимости
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="block-refund__column">
                            <div class="block-refund__item2">
                                <div class="block-refund__title">
                                    Для оформления возврата или переноса дат необходимо заполнить заявление
                                </div>
                                <div class="line"></div>
                                <a href="#" download="#" class="btn btn-white btn-small">
                                    <span>Скачать бланк заявления</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-faq">
                <div class="container">
                    <div class="block-faq__contents block1">
                        <div class="block-faq__content">
                            <h2 class="title2">
                                Ответы на частые вопросы
                            </h2>
                            <div data-spollers class="spollers-faq">
                                <div class="spollers-faq__item">
                                    <button type="button" data-spoller class="spollers-faq__button">
                                        <img loading="lazy" src="img/icons/question-mark.svg" alt=""
                                            class="spollers-faq__pic1">
                                        <span class="spollers-faq__title">
                                            За какое время до начала экскурсии нужно быть на месте?
                                        </span>
                                        <span class="spollers-faq__icon"></span>
                                    </button>
                                    <div class="spollers-faq__body">
                                        <div class="spollers-faq__text">
                                            <p>
                                                В программу многодневных туров, как правило, включены завтраки (шведский
                                                стол) в гостинице. Обеды и ужины организуются в проверенных городских
                                                кафе
                                                (за доп. плату или по предзаказу).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="spollers-faq__item">
                                    <button type="button" data-spoller class="spollers-faq__button">
                                        <img loading="lazy" src="img/icons/question-mark.svg" alt=""
                                            class="spollers-faq__pic1">
                                        <span class="spollers-faq__title">
                                            Где мы будем питаться во время тура?
                                        </span>
                                        <span class="spollers-faq__icon"></span>
                                    </button>
                                    <div class="spollers-faq__body">
                                        <div class="spollers-faq__text">
                                            <p>
                                                В программу многодневных туров, как правило, включены завтраки (шведский
                                                стол) в гостинице. Обеды и ужины организуются в проверенных городских
                                                кафе
                                                (за доп. плату или по предзаказу).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="spollers-faq__item">
                                    <button type="button" data-spoller class="spollers-faq__button">
                                        <img loading="lazy" src="img/icons/question-mark.svg" alt=""
                                            class="spollers-faq__pic1">
                                        <span class="spollers-faq__title">
                                            Можно ли присоединиться к туру на один день?
                                        </span>
                                        <span class="spollers-faq__icon"></span>
                                    </button>
                                    <div class="spollers-faq__body">
                                        <div class="spollers-faq__text">
                                            <p>
                                                В программу многодневных туров, как правило, включены завтраки (шведский
                                                стол) в гостинице. Обеды и ужины организуются в проверенных городских
                                                кафе
                                                (за доп. плату или по предзаказу).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="spollers-faq__item">
                                    <button type="button" data-spoller class="spollers-faq__button">
                                        <img loading="lazy" src="img/icons/question-mark.svg" alt=""
                                            class="spollers-faq__pic1">
                                        <span class="spollers-faq__title">
                                            Как узнать номер автобуса и телефон гида?
                                        </span>
                                        <span class="spollers-faq__icon"></span>
                                    </button>
                                    <div class="spollers-faq__body">
                                        <div class="spollers-faq__text">
                                            <p>
                                                В программу многодневных туров, как правило, включены завтраки (шведский
                                                стол) в гостинице. Обеды и ужины организуются в проверенных городских
                                                кафе
                                                (за доп. плату или по предзаказу).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>